[Unit]
Description=Schedule next boot to Linux Educacional on system power off
After=getty@tty1.service display-manager.service
Before=systemd-halt.service systemd-poweroff.service
DefaultDependencies=no

[Service]
Type=oneshot
EnvironmentFile=/etc/le-nextboot.conf
ExecStart=/bin/sh -c "${LE_NEXTBOOT_ENABLE} && grub-reboot ${LE_NEXTBOOT_INDEX}"

[Install]
WantedBy=halt.target poweroff.target
