[Unit]
Description=Schedule next boot to Linux Educacional on system power on
After=local-fs.target
Before=sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ENvironmentFile=/etc/le-nextboot.conf
ExecStart=/bin/sh -c "${LE_NEXTBOOT_ENABLE} && grub-reboot ${LE_NEXTBOOT_INDEX}"

[Install]
WantedBy=sysinit.target
