[Unit]
Description=Schedule next boot to Userful Rescue Live on system power off
After=getty@tty1.service display-manager.service
Before=systemd-halt.service systemd-poweroff.service
DefaultDependencies=no

[Service]
Type=oneshot
EnvironmentFile=/etc/userful-rescue-nextboot.conf
ExecStart=/bin/sh -c "${USERFUL_RESCUE_NEXTBOOT_ENABLE} && grub-reboot ${USERFUL_RESCUE_NEXTBOOT_INDEX}"

[Install]
WantedBy=halt.target poweroff.target
