[Unit]
Description=Service for Xorg server at display :90

[Service]
ExecStartPre=/usr/local/bin/update-xorg-conf
ExecStart=/usr/local/bin/xorg-daemon :90
SuccessExitStatus=0 1
